@define-color	rosewater  #f7768e;
@define-color	rosewater-rgb  rgb(247, 118, 142);
@define-color	flamingo  #ff9e64;
@define-color	flamingo-rgb  rgb(255, 158, 100);
@define-color	pink  #bb9af7;
@define-color	pink-rgb  rgb(187, 154, 247);
@define-color	mauve  #9d7cd8;
@define-color	mauve-rgb  rgb(157, 124, 216);
@define-color	red  #f7768e;
@define-color	red-rgb  rgb(247, 118, 142);
@define-color	maroon  #db4b4b;
@define-color	maroon-rgb  rgb(219, 75, 75);
@define-color	peach  #ff9e64;
@define-color	peach-rgb  rgb(255, 158, 100);
@define-color	yellow  #e0af68;
@define-color	yellow-rgb  rgb(224, 175, 104);
@define-color	green  #9ece6a;
@define-color	green-rgb  rgb(158, 206, 106);
@define-color	teal  #73daca;
@define-color	teal-rgb  rgb(115, 218, 202);
@define-color	sky  #7dcfff;
@define-color	sky-rgb  rgb(125, 207, 255);
@define-color	sapphire  #7dcfff;
@define-color	sapphire-rgb  rgb(125, 207, 255);
@define-color	blue  #7aa2f7;
@define-color	blue-rgb  rgb(122, 162, 247);
@define-color	lavender  #c0caf5;
@define-color	lavender-rgb  rgb(192, 202, 245);
@define-color	text  #c0caf5;
@define-color	text-rgb  rgb(192, 202, 245);
@define-color	subtext1  #a9b1d6;
@define-color	subtext1-rgb  rgb(169, 177, 214);
@define-color	subtext0  #a9b1d6;
@define-color	subtext0-rgb  rgb(169, 177, 214);
@define-color	overlay2  #737aa2;
@define-color	overlay2-rgb  rgb(115, 122, 162);
@define-color	overlay1  #565f89;
@define-color	overlay1-rgb  rgb(86, 95, 137);
@define-color	overlay0  #545c7e;
@define-color	overlay0-rgb  rgb(84, 92, 126);
@define-color	surface2  #414868;
@define-color	surface2-rgb  rgb(65, 72, 104);
@define-color	surface1  #3b4261;
@define-color	surface1-rgb  rgb(59, 66, 97);
@define-color	surface0  #292e42;
@define-color	surface0-rgb  rgb(41, 46, 66);
@define-color	base  #1a1b26;
@define-color	base-rgb  rgb(26, 27, 38);
@define-color	mantle  #16161e;
@define-color	mantle-rgb  rgb(22, 22, 30);
@define-color	crust  #16161e;
@define-color	crust-rgb  rgb(22, 22, 30);

* {
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @lavender;
  border-radius: 8px;
  background-color: @base;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
}

#input image {
    border: none;
    color: @red;
}

#input * {
  outline: 4px solid @red!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @lavender;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @lavender;
}

#entry:selected #text {
  color: @mauve;
}

#entry:drop(active) {
  background-color: @lavender!important;
}
