
* {
  font-family: Caskaydia Cove Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: #282c34;
  color: #ABB2BF;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: #3f4451;
  margin-left: 1rem;
}

#workspaces button {
  color: #abb2bf;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #56b6c2;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: #3f4451;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: #61afef;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: #98c379;
}

#battery.charging {
  color: #98c379;
}

#battery.warning:not(.charging) {
  color: #e06c75;
}

#backlight {
  color: #e5c07b;
}

#backlight, #battery {
    border-radius: 0;
}
#pulseaudio {
  color: #d19a66;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: #c678dd;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: #abb2bf;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: #abb2bf;
}

#custom-lock:hover {
	color: #98c379;
	transition: color 250ms;
}

#custom-power:hover {
	color: #e06c75;
	transition: color 250ms;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
